body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

#contact{
  padding-top: 5rem;
}

.contact__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding-bottom: 3rem;
}

.contact__title {
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.contact__info {
  display: grid;
  gap: 1rem;
}

.contact__card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
}

.contact__card-icon {
  font-size: 1.8rem;
  color: var(--title-color);
  margin-bottom: .25rem;
}

.contact__card-title,
.contact__card-data {
  font-size: var(--small-font-size);
}

.contact__card-title {
  font-weight: var(--font-medium);
}

.contact__card-data {
  display: block;
  margin-bottom: .75rem;
}

.contact__button {
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
}

.contact__button:hover .contact__button-icon {
  transform: translateX(.25rem);
}

.contact__button-icon {
  font-size: 0.8rem;
  transition: .4s;
}

.contact__form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1.5rem;
  border-radius: .75rem;
  z-index: 1;
  transition: border-color .4s, background-color .4s;
}

.contact__form-input:focus {
  border-color: var(--title-color);
}

.contact__form-input:-webkit-autofill {
  transition: background-color 6000s, color 6000s;
}

.contact__form-tag {
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  font-size: var(--smaller-font-size);
  padding: .25rem;
  background-color: var(--body-color);
  z-index: 10;
  transition: background-color .4s;
}

.contact__form-area {
  height: 11rem;
}

.contact__form-area textarea {
  resize: none;
  padding-top: 1.25rem;
}

.contact__send {
  display: inline-block;
  cursor: pointer;
  padding: 0.75rem 2rem;
  background-color: var(--first-color); /* Primary color for the button */
  font-weight: 500;
  font-size: var(--normal-font-size);
  border-radius: 0.5rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.contact__send:hover {
  background-color: var(--first-color-alt); /* Slightly darker color for hover effect */
}


.contact__message {
  position: absolute;
  bottom: -2rem;
  left: 0;
  font-size: var(--small-font-size);
  color: var(--title-color);
}


