#about, #experience, #portfolio, #contact {
    scroll-margin-top: 4rem; /* Adjust based on your header's height */
    padding-top: 2rem; /* Optional: Adds additional spacing */
}

header {
    height: 135vh;
    padding-top: 10rem;
    overflow: hidden;
}

header::after {
    content: "";
    display: block;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--body-color);
    width: 100%;
    height: 5rem;
    z-index: 100; /* Ensure it stays on top of other elements */
    transition: .4s; /* for light mode animation */
}

.nav__logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: var(--color-primary);
    text-decoration: none;
    margin-left: 10rem; /* Add space to the left of the logo */
    margin-top: 1.5rem;
}

.nav__logo:hover{
    color: var(--first-color-alt);
  }

.logo {
    width: 40px;
    height: auto;
    margin-right: auto;
}

.moon__icon {
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
    margin-right: 10rem;
    transition: .4s; 
    margin-top: 1.5rem;
}


/*=============== THEME ===============*/
.change-theme{
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s;
  }
  
  .change-theme:hover{
    color: var(--first-color);
  }

/* Existing CSS */
.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    display: grid;
    left: 0;
    bottom: 12rem;
}

.header__socials::after{
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 3px);
  }

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 20rem;
    height: 28rem;
    justify-self: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 10rem 10rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.scroll__down {
    position: absolute;
    right: -2.3rem;
    transform: rotate(-270deg);
    bottom: 15rem;
    font-weight: 300;
    font-size: 0.9rem;
    display: flex;
    row-gap: 2.25rem;
    align-items: center;
}

.mouse {
    transform: rotate(270deg);
    bottom: 5rem;
    font-weight: 300;
    font-size: 2rem;
}


/* Change background header */
.scroll-header{
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
  }


